.pure { 
  background-color:#c783FF !important;
}

.project_pure {
  position:absolute;
  right:40%;
  top:8%;
  width:21vw;
  height:21vw;
  overflow:hidden;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
  box-shadow:-10px 2px 15px rgba(0,0,0,0.4);

  video {
    position:absolute;
    top:-5.3vw;
    width:21vw;
    height:30vw;
  }
}

.project_pure2 {
  position:absolute;
  right:40%;
  top:70%;
  width:25vw;
  height:15vw;
  overflow:hidden;
  border-top-left-radius:4.6vw;
  border-bottom-right-radius:4.6vw;
  box-shadow:-10px 2px 15px rgba(0,0,0,0.4);

  video {
    position:absolute;
    top:-8.3vw;
    width:25vw;
    height:30vw;
  }
}

.border_pure {

  .border_pure1 {
        z-index:-1;
        position:absolute;
        right:15vw;
        bottom:7vw;
        width:19vw;
        min-width:192px;
        height:19vw;
        min-height:192px;
        border:0.6vw solid #373737;
        border-top-right-radius:50%;
        box-shadow:-10px 2px 15px rgba(0,0,0,0.4);
  
        &:before {
          content:'';
          display:block;
          position:absolute;
          bottom:-10%;
          right:-10%;
          // border:1px solid red;
          width:3vw;
          height:3vw;
          background-color:#202020;
          
        }
        &:after {
          content:'';
          display:block;
          position:absolute;
          bottom:-0.6vw;
          right:-0.6vw;
          width:0.6vw;
          height:0.6vw;
          background-color:#c783FF;
        }
      }
  
      .border_pure2 {
        z-index:-1;
        position:absolute;
        bottom:2vw;
        right:3vw;
        width:18vw;
        min-width:192px; // 10vw
        height:32vw; 
        min-height:384px;
        border:0.6vw solid #373737;
        border-top-left-radius:200px;
        border-bottom-right-radius:200px;
        border-top-right-radius:200px;
        border-bottom-left-radius:200px;
        box-shadow:-10px 2px 15px rgba(0,0,0,0.4);

        &:before {
          content:'';
          display:block;
          position:absolute;
          bottom:45%;
          left:-15%;
          // border:1px solid red;
          width:4vw;
          height:4vw;
          background-color:#202020;
        }
        &:after {
          content:'';
          display:block;
          position:absolute;
          bottom:16vw;
          left:-0.6vw;
          width:0.6vw;
          height:0.6vw;
          background-color:#c783FF;
        }
      }
    }
